# SQL Server (Docker)
MSSQL_SA_PASSWORD=ChangeMe_StrongPass1
DB_HOST=localhost
DB_PORT=14333
DB_USER=sa
DB_PASSWORD=ChangeMe_StrongPass1
DB_NAME=banking
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true

# Nest API
PORT=3000
